@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #eeeeee;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    padding: 20px 0;
}

.geral {
    padding: 10px;
}